.playlist-container {
    position: relative;
    max-width: 32rem;
    margin-top: 460px;
    margin-bottom: 80px;
    margin-left: 16px;
    margin-right: 16px;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    background-color: #eae7e7;
  }
  
  .playlist-item {
    display: flex;
    align-items: center;
    padding:8px;
    border-bottom: 1px solid #dadada;
    transition: background-color 0.2s;
  
    
  }
  
  .playlist-item:hover {
    background-color: #f9fafb;
  }
  
  .thumbnail-image {
    width: 6rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 0.375rem;
  }
  
  .content-section {
    margin-left: 1rem;
  }
  
  .item-title {
    font-size: 1.125rem;
    font-weight: 600;
    color: #1f2937;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .item-description {
    font-size: 0.875rem;
    color: #6b7280;
  }
  